body{
    background-color: darksalmon;
}
.flexContainer{
   display: flex;
   justify-content: space-evenly;
   align-items: center;
   height: 350px;
   width: 900px;
   border: solid black 2px;
}
.flexContainer  button{
    border: 10px solid #badfdb;
    height: 250px;
    width: 250px;
}
.flexContainer img{
     height: 190px;
    width: 190px;
    
}
 .flexContainer button:hover{
    cursor: pointer;
 }
 .flexContainer button:active{
    cursor: wait;
 }